/*-------------------------- Esseticals --------------------------*/

:root{

    /* Collors */
    --main-red: #be3144;
    --main-red-background: hsla(352, 59%, 47%, 0.603);
    --russian-violet: hsl(252, 80%, 16%);
    --flourescent-blue: #00f9ef;
    --heliotrope-gray: #aba6bd;
    --dark-violet: hsl(252, 100%, 12%);
    --space-cadet: hsl(276, 100%, 12%);
    --blue-ryb: #0052ff;
    --white: #ffffff;

    --gradient: linear-gradient(to right, var(--flourescent-blue), var(--blue-ryb));

/*  ## Typography
    ### Font Family */
    --ff-josefin: 'Josefin sans', sans-serif;
    
    /* ### Font Size */  
    --fs-1: 2.5rem;
    --fs-2: 1.8rem;
    --fs-3: 1.7rem;
    --fs-4: 1.5rem;
    
    /* ### Font Weight */
    --fw-500: 500;
    --fw-700: 700;

    /* ## Transition */
    --transition: 0.25s ease-in-out;

    /* ## Spacing */
    --section-padding: 3rem;

    /*Height - fixed menu*/
    --heightCalc:calc(100vh - 10rem)

}

/*-------------------------- Media --------------------------*/
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
          font-size: 60%;
        }
    }
      
    /* 980px / 16px = 61.25em */
    @media (max-width: 61.25em) {
        html {
          font-size: 58%;
        }
    }
      
    /* 460px / 16px = 28.75em */
    @media (max-width: 28.75em) {
        html {
          font-size: 55%;
        }
    }


    /*-------------------------- RESET --------------------------*/
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

html {
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
 
a,
img,
span,
input,
ion-icon { display: block; }
    /*-------------------------- GLOBAL STYLE --------------------------*/
  
body {
    font-family: var(--ff-josefin);
    font-size: 1.6rem; /* 16px */
    font-weight: var(--fw-500);
    line-height: 1.4;
    background: var(--dark-violet);
    color:var(--white);
    overflow-x:hidden;
}
  
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:inherit;
}

h1,h2 {
    text-shadow:0 3px 5px hsla(0, 0%, 0%, 0.8);
    text-align: center;
    margin:2rem 0;
}

h1{
    font-size: 3rem;
}

/*whatsapp btn*/

.whatsApp{
    position:fixed;
    background-color: green;
    width:8rem;
    height:8rem;
    z-index:2000;
    bottom: 2rem;
    right:1rem;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-whatsapp{
    transform: scale(3);
    color:white;
    

    @media  (min-width:1023px) {
        transform: scale(6);  
        bottom: 10rem;
        right:10rem; 
    }
}

/*-------------------------- CONTAINER --------------------------*/
.layer-container{
    margin-top: 15rem;
}

.container{
    padding:0 1.5rem;
    margin:3rem auto 6rem;
    min-height: 1rem;
}

@media(min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

                    /* END CONTAINER */

.bar-divider{
    background-color: white;
    margin: -2rem auto 2rem;
    width: 50%;
    height:.1rem;
    border-radius: 2rem ;
}

.flex-content{
    display:flex;
}

/* .hidden {
    display: none;
}
 */
 /*-------------------------- END GLOBAL STYLE --------------------------*/
    /*-------------------------- HEADER --------------------------*/
.container-top-site{
    width:100%;
    position: fixed;
    top:0;
    z-index:999;
}

.fix-header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.8rem;
    background:var(--russian-violet);
    box-shadow: 0 0 1.5rem hsla(0, 0%, 0%, 1);}

.logo-img {
    margin-left:3rem;
    width: 10rem;
    height:8rem;
}

.icons-top {
    width: 15rem;
    display:flex;
    justify-content: space-evenly;
    text-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.507);
    cursor:pointer;
    
}

.icons-top i:hover{
    transform: scale(1.5) translate3d(0rem, 0rem, .3rem);
    transition:ease-in-out .5s;
    color: var(--main-red);
}




 /*-------------------------- navbar --------------------------*/

 .nav-container{
    margin: 1rem 0;
    padding:0 1rem;
    width: 100%;
    height: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-2);  

 }

 .nav-menu {
    width: 90%;
    display:flex;
    padding:0 auto;
    justify-content: space-between;
}

.nav-item a{
    display:inline-block;
    position:relative;
}

.nav-item a:hover{
    color:var(--main-red);
    transition: var( --transition);
}

.nav-item a::after{
    content: "";
    width:0;
    height:.3rem;
    background-color: var(--main-red);
    position:absolute;
    bottom: 0;
    left:0;
    transition: var( --transition);

}

.nav-item a:hover::after{
    width:100%;
}

.btn-form{
    border:none;
    background-color: transparent;
}

 /*-------------------------- TOGGLE BUTTON --------------------------*/

#btn-menu{
    margin-right:3rem;
    width: 5rem;
    height:5rem;
    border: .2rem solid var(--white);
    background:transparent;
    border-radius: .2rem;
    cursor:pointer;
    transition-duration: 1s; 
    display:none;   
}

.row{
    width: 3.5rem;
    height:.3rem;
    background-color: var(--white);
    margin: .8rem auto;
    position:relative;
    transform-origin: center;
    transition:var(--transition);
}

#btn-menu.activeBtn {
    border: .2rem solid var(--main-red);
}

#btn-menu.activeBtn .row:nth-child(1){
    transform: translateY(1.2rem) rotate(-45deg);
    background-color: var(--main-red);
}

#btn-menu.activeBtn .row:nth-child(3){
    transform: translateY(-1rem) rotate(45deg);
    background-color: var(--main-red);
}

#btn-menu.activeBtn .row:nth-child(2){
    width: 0;
}

.nav-container-mobile.mobileMenu {
    visibility: visible;
    height:var(--heightCalc);
}


                /*Menu mobile*/


.nav-container-mobile{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width:100%;
    height:0;
    position:fixed;
    top:10rem;
    z-index:10;
    font-size: var(--fs-1); 
    visibility: hidden;
    transition: var(--transition);
    overflow: hidden;
    
    
}

 .nav-menu-mobile {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:0 auto;
    align-items: center;
    
}

.nav-item-mobile{
    width:100%;
    padding:1rem;
    display:flex;
    align-items: center;
    transition: var( --transition);
    border-radius: 1rem;
}

/* .nav-item-mobile:hover{
    background-color: hsla(252, 80%, 16%, 0.9);
} */


.nav-item-mobile a{
    width:50%;
    margin:0 auto;
    display:inline-block;
    position:relative;
    transition: var( --transition);
    text-align:center;
}

.nav-item-mobile a:hover{
    color:var(--main-red);
}

.nav-item-mobile a::after{
    content: "";
    width:0;
    height:.3rem;
    background-color: var(--main-red);
    position:absolute;
    bottom: 0;
    left:0;
    transition: var(--transition);

}

.nav-item-mobile a:hover::after{
    width:100%;
} 

@media (max-width: 991px){
    .nav-container{
        display:none;
    }
    .icons-top{
        display:none;
    }

    #btn-menu{
        display:block;
    }

    

}



/* .searchbar {
    display:flex;
} */

/******************** END NAV-BAR ***************/







                    /* hero content */

 
/* ********* NEWS SECTIONS ********* */

.grid-template {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 6rem;
}

.grid-figure img{
    width: 100%;
    height:40%;
}

.grid-element{
    border:solid .2rem var(--white);
    border-radius: 4rem;
    overflow: hidden;
}
.news-text-div {
    width: 100%;
    height:50%;

    padding:0 2.5rem;
    background-color: var(--white);
    color:var(--dark-violet);
}

.news-text-div p{
 font-size: var(--fs-4);
 
}

/* ********* END NEWS SECTIONS ********* */
/* ********* START FORM  ********* */
/* ********* modal form  ********* */
.window-modal {
    width:0;
    height:var(--heightCalc);
    position:fixed;
    z-index: 999;
    top:100px;
    left:0; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    visibility: hidden;
    transition: var(--transition);
    
}


.modal {
    background-color: hsla(252, 100%, 32%, 1);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.1) 0px -3px 5px; */
    position:relative;
    width:60%;
    min-width:320px;
    min-height: 500px;
    padding:40px;
    border-radius: 2rem;
}

.close-btn {
    position:absolute;
    top:.4rem;
    right:.4rem;
    border:solid 2px var(--main-red);
    width:30px;
    height:30px;
    border-radius: 50%;
    color:var(--main-red);
    background-color: transparent;
    cursor:pointer;
}

.opened{
    visibility: visible;
    width: 100vw;
}

/* ********* end modal FORM  ********* */

form h1{
    text-align: center;
    width: 100%;
    
}

form p{
    text-align: center;
    margin:1rem 0;
}

.input-single{
    position:relative;
    margin:2rem 0;
}

.input-single label {
    position:absolute;
    left: 0.2rem;;
    bottom: .5rem;
    transition: all .2s;
    cursor:text;
}

.input-area {
    width: 100%;
    height:2rem;
    border:0;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    border-bottom: 2px solid #be3144;
    background-color: rgba(0,0,0,0.4);
    padding:1rem;
    outline: 0;
    color: var(--white);
}

form .input-single .input-area:focus ~ label,
form .input-single .input-area:valid ~ label{
    transform: translateY(-1.6rem) scale(1.1);
    font-size: 1.2rem;
}



form .input-message{
    display:flex;
    flex-direction: column-reverse;
    margin:2rem 0;
    
}

form .input-message label{
    margin-bottom: .5rem;
    border-bottom: 2px solid #be3144;
}

form .input-message textarea{
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    outline: none;
    background-color: rgba(255, 255, 255, .1);
    color:white
    
}

/*TODO corrigir o alinhamento do botão */

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding:1rem 3rem;
    border: 0.1rem solid #be3144;
    border-radius: 2rem;
    background-color:#be3144;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

form input[type=submit]:hover{
    color:#be3144;
    background-color: white;
}

/* ********* FOOTER ********* */

                    /* mini-about */
.mini-about {
    padding:0 10rem;
}
.mini-about img{
    margin:0 auto 2.4rem;
}
.text{
    text-align: justify;
}

                    /* CONTATO */

.contacts{
    padding:0 5rem;
    text-align: center;
}

.contacts h2{
    width: 10rem;
    height:8rem;
    margin:2.4rem auto 0;
}

.contacts p{
    display:flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

                    /* social links */
.social-media h2{
    width: 16rem;
    height:8rem;
    margin:2.4rem auto 0;
}

.margin-top{
    margin-top:2rem;
}

.flex-media{
    display:flex;
    justify-content: center;
    text-align: center;
}

.media-icon{
    width: 2.5rem;
}


