<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- icons -->
        <script src="https://kit.fontawesome.com/b4c323d369.js" crossorigin="anonymous"></script>
        
            <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../../assets/img/favicon.ico" type="image/x-icon">
            <!-- CSS -->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/navbar.css">
        <link rel="stylesheet" href="../../css/slider.css">
        <link rel="stylesheet" href="../../css/about.css">
        <link rel="stylesheet" href="../../css/news.css">

        <title>Zé Ninguém - Notícias - Conheça Cristiano Zanin</title>
    </head>
    <body>


    <!-- -------------------------- HEADER -------------------------- -->
        <header>
            <div class="container-top-site">
            
    <!-- -------------------------- logo & social media links -------------------------- -->
                <div class="fix-header">
                    <div class="logo icon">
                        <a href="../../index.html">
                            <img src="../../assets/img/LOGO-ZE-final.png" alt="Logo Zé Ninguem" class="logo-img">
                        </a>
                    </div>
                    <nav id="nav-bar" class="nav-container">           
                        <ul class="nav-menu">
                            <li class="nav-item">
                                <a href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a href="../about.html">Quem Somos</a>
                            </li>
                            <li class="nav-item">
                                <a href="../news.html">M&iacute;dia</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" onclick="openSchedule()">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="btn-form" onclick="openForm()">Fale Conosco</a>
                            </li>
                        </ul>
                    </nav>
        
                    <button onclick="animateMenu()" id="btn-menu">
                        <span class="row"></span>
                        <span class="row"></span>
                        <span class="row"></span>
                    </button>

                    <div class="icons-top link">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-square-facebook"></i>
                        <i class="fa-brands fa-square-twitter"></i>
                    </div>
            </div>

                </div>
                    <!-- menu mobile -->
                <nav id="nav-bar-mobile" class="nav-container-mobile">
                    <ul class="nav-menu-mobile">
                        <li class="nav-item-mobile">
                            <a href="../../index.html" target="_self">Inicio</a>
                        </li>
                        <li class="nav-item-mobile">
                            <a href="../about.html" target="_self">Quem Somos</a>
                        </li>
                        <li class="nav-item-mobile">
                            <a href="../news.html" target="_top">M&iacute;dia</a>
                        </li>
                        <li class="nav-item-mobile">
                            <a href="#" onclick="openSchedule()">Agenda</a>
                        </li>
                        <li class="nav-item-mobile">
                            <a href="#" class="btn-modal" onclick="openForm()">Fale Conosco</a>
                        </li>
                    </ul>
                </nav>
                    <!-- end menu mobile -->
        <!-- -------------------------- end navbar & searchbar -------------------------- -->
            </div>


            
        </header>

    <!-- -------------------------- START CONTENT -------------------------- -->
        <main class="news layer-container">
            <div class="container news-main">
                <h1>Dedicado, discreto, alérgico a lula: conheça Cristiano Zanin, advogado do presidente indicado ao STF</h1>
                <div class="bar-divider"></div>
                <div class="news-content">
                    <p>
                        Aos 47 anos de idade, o piracicabano Cristiano Zanin Martins pode ser o próximo ministro do Supremo Tribunal Federal, se passar pela sabatina do Senado; advogado ganhou projeção por seu empenho na defesa do presidente na Lava Jato
                    </p>
                    <figure>
                        <img class="news-img" src="../../assets/news-img/cristiano-zanin.jpeg" alt="(Imagem: Dinheiro encontrado com assessor de Arthur Lira/Divulgação/PF)" srcset="">
                    </figure>
                    <p>
                        Prestes a ser formalmente indicado pelo presidente Luiz Inácio Lula da Silva para vaga aberta com a aposentadoria do ministro Ricardo Lewandowski no Supremo Tribunal Federal (STF), o advogado Cristiano Zanin Martins, 47, ganhou projeção nacional por seu empenho na defesa do petista nos processos da polêmica Operação Lava Jato.
                    </p>
                    <p>
                        Quando Lula ainda estava preso, o advogado se tornou uma espécie de porta-voz, com boletins sobre a situação jurídica do presidente atualizados na saída da Polícia Federal em Curitiba. Como advogado, ele tinha acesso direto ao petista na custódia da PF. O então ex-presidente passou 580 dias detido em uma sala especial na superintendência da corporação no Paraná.
                    </p>
                    <p>
                        Foi de sua autoria o recurso ao Supremo que provocou uma reviravolta na Lava Jato, com a declaração de parcialidade do ex-juiz Sérgio Moro e a reabilitação política de Lula. Zanin também foi coordenador jurídico da campanha do presidente em 2022 e, no governo de transição, assumiu a área de cooperação jurídica internacional.
                    </p>
                    
                    <figure>
                        <img class="news-img" src="../../assets/news-img/cristiano-zanin2.jpeg" alt="(Imagem: Dinheiro encontrado com assessor de Arthur Lira/Divulgação/PF)" srcset="">
                    </figure>


                    <p>
                        Zanin entrou na vida do petista por meio do sogro, o também advogado Roberto Teixeira, com quem o presidente mantém amizade de longa data, que remonta ao período das greves dos metalúrgicos no ABC paulista, no fim dos anos 1970 e início de 1980. O provável futuro ministro e o sogro desfizeram uma sociedade de advocacia e romperam relações no ano passado.
                    </p>
                    <p>
                        Quando começou a advogar para o presidente, Cristiano Zanin Martins não tinha experiência sólida na área criminal. Sua especialidade era em litígios empresariais e recuperações judiciais. Ele trabalhou em casos de grande repercussão, como a recuperação judicial da Varig, a falência da Transbrasil e a revisão do acordo de leniência da J&F.
                    </p>
                    <p>
                        Aliados do presidente não esconderam a desconfiança assim que o advogado entrou para a equipe. Parte do PT também fazia questão de deixar clara a insatisfação com a estratégia de que Lula só deveria deixar a prisão como um ‘homem livre’ – o que implicava em não tentar a prisão domiciliar. As vitórias alcançadas junto ao STF, onde agora deverá ocupar uma cadeira, deslocaram a balança em favor do advogado.
                    </p>
                    <p>
                        Um desagravo expressivo a Zanin partiu do ministro Gilmar Mendes, decano do STF, no julgamento que declarou Moro parcial: “Acho que falo em nome do tribunal ao reconhecer o brilhante trabalho da defesa. Sem dúvida nenhuma nós vimos um advogado que não se cansou de trazer questões ao tribunal, muitas vezes até sendo censurado, incompreendido. Mas ele tinha, vamos reconhecer, uma causa muito difícil e muito personalizada”, afirmou Gilmar visivelmente emocionado.
                    </p>
                    <p>
                        Zanin é de Piracicaba, cidade de 400 mil habitantes no interior de São Paulo, situada a cerca de 150 quilômetros da capital paulista. De uma família de classe média, ele tem 47 anos – o que lhe garante quase três décadas pela frente no STF, uma vez que a aposentadoria compulsória ocorre aos 75.
                    </p>
                    <p>
                        Filho do também advogado Nelson Martins, ele estudou em escolas tradicionais. Gostava de jogar futebol, hábito que abandonou em meio à rotina de trabalho pesada. Deixou a cidade natal para cursar Direito na Pontifícia Universidade Católica de São Paulo (PUC-SP), onde se formou em 1999.
                    </p>

                    <p>
                        Começou a carreira como estagiário no escritório do falecido desembargador José Manoel de Arruda Alvim Neto, a convite do professor Eduardo Arruda Alvim, e logo migrou para a banca do sogro. Com a desavença, a sociedade foi desfeita e Zanin e a mulher, a também advogada Valeska Teixeira Zanin Martins, fundaram um novo escritório: o Zanin Martins Advogados. Quem conhece o casal, afirma que os dois são extremamente unidos e uma dupla profissional alinhada. Eles têm três filhos.
                    </p>

                    <div class="iframe-div">
                        <iframe src="https://www.youtube.com/embed/hxqtZVybzUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    
                    <p>
                        Valeska deve continuar à frente do escritório, com a ida do marido para o STF. A parceria também deu origem ao livro ‘Lawfare: Uma Introdução’, em que apresentam a tese que embasou a defesa de Lula na Lava Jato. A estratégia corajosa sempre foi de enfrentamento e confronto direto com a então poderosa força-tarefa de Curitiba e o então juiz Sérgio Moro. 
                    </p>
                    <p>
                        Senador, Moro vai participar da sabatina de Zanin na Comissão de Constituição e Justiça do Senado. A indicação precisa ser aprovada pelos senadores.
                    </p>

                    <p>
                        Curiosamente, o próprio Moro poderia estar agora no lugar de Zanin. O ex-juiz da Lava Jato aspirava cadeira no STF, que poderia ter alcançado se não tivesse rompido com o ex-presidente Jair Bolsonaro, responsável por duas indicações à Corte, contemplando os ministros Kassio Nunes Marques e André Mendonça.
                    </p>
                    <p>
                        Embora não tenha seguido a vida acadêmica – Zanin não chegou a fazer mestrado –, o advogado influenciou teses jurídicas importantes, como a inconstitucionalidade da condução coercitiva e a revisão da prisão em segunda instância.
                    </p>

                    <p>
                        O futuro ministro gosta de vinhos e, para acompanhar, costuma pedir frutos do mar. Recentemente, descobriu uma restrição alimentar: ironicamente, sofre de alergia a lula, o molusco.
                    </p>

                    <p>
                        Nas poucas horas vagas, costuma ver séries e filmes no streaming. A longeva Suits, que retrata a rotina de um escritório de advocacia nos Estados Unidos, caiu nas graças do advogado.
                    </p>

                    <p>
                        Interlocutores do provável futuro ministro afirmam que ele tem um perfil discreto, estudioso e dedicado ao trabalho. Em sua biblioteca há um espaço generoso para livros jurídicos.
                    </p>

                    <p>
                        O indicado de Lula também é visto como ‘cabeça fria’. Sua calma e etiqueta foram colocadas à prova quando foi hostilizado por um bolsonarista no banheiro do aeroporto de Brasília, no início do ano. O advogado permaneceu impassível e não respondeu os ataques e provocações. 
                    </p>

                    <p>
                        Zanin continuou advogando enquanto aguardava a indicação ao Supremo. Obedece uma rotina com longas jornadas no escritório, sem sair nem mesmo para o almoço. Não é raro encontrá-lo no trabalho até as 22 horas de sexta. Ao longo desta quinta, enquanto aguarda sair a indicação, desligou o celular.
                    </p>

                    <figure>
                        <img class="news-img" src="../../assets/news-img/cristiano-zanin-com-esposa.jpeg" alt="(Cristiano Zanin e Esposa)" srcset="">
                    </figure>


                    <p>
                        Ele também é descrito como uma pessoa educada, cautelosa e constante. Entre os colegas, é visto como um homem introspectivo, mas dono de um humor refinado e sutil.
                    </p>

                    <p>
                        “O Cristiano é uma pessoa bem-humorada, leal, companheira. Ele é introspectivo, mas divertido. Gosta de uma boa mesa, de sair para jantar, para conversar, sobre conjuntura do Brasil e geopolítica”, descreve o advogado Marcelo Knopfelmacher, amigo de longa data do futuro ministro.
                    </p>

                    <p>
                        O advogado e professor Luiz Rodrigues Wambier conhece Zanin há cerca de 15 anos e afirma que uma de suas maiores qualidades é a dedicação.
                    </p>

                    <p>
                        “O Supremo ganha. O Cristiano tem um raciocínio jurídico equilibrado e ágil, além disso tem disposição para o estudo, para a análise de casos difíceis. É um sujeito corajoso”, descreve. “É alguém com afeição pela democracia. Ele sabe o que é o Estado de Direito e conhece a Constituição.” 
                    </p>
                </div>
            </div>
        </main>


        <footer clas="footer-div">
            <div class="container grid-template">
                <div class="mini-about">
                    <figure >
                        <img src="../../assets/img/LOGO-ZE-final.png" alt="" class="logo-img">
                    </figure>
                    <p class="text">
                        Z&eacute; ningu&eacute;m &eacute; um site dedicado a promover a inclus&atilde;o social, pol&iacute;tica e economicamente. 
                    </p>
                    <br>
                    <p>
                        Nosso objetivo &eacute; fornecer uma plataforma segura e acolhedora onde essas pessoas possam se expressar livremente.
                    </p>
                </div>
                <div class="contacts">
                    <h2 class="contact">Contato</h2>
                    
                    <p>E-mail:<a href="mailto:"> lorem@ipsum.com</a></p>
                    <p>Telefone:<a href="tel:+"> +55(41)99999-9999</a></p>
                    <p>Celular<a href="tel:+"> +55(41)99999-9999</a></p>
                    <p class="">
                    Curitiba - PR
                    </p>
                </div>
                <div class="social-media">
                    <h2>Redes Sociais</h2>
                    <div class="flex-media">
                        <a href="https://www.instagram.com/" class="flex-content"><i class="fa-brands fa-instagram media-icon"></i><p>Instagram</p></a>
                    </div>
                    <div class="flex-media margin-top">
                        <a href="http://www.youtube.com" class="flex-content" ><i class="fa-brands fa-youtube media-icon"></i><p>Youtube</p></a>
                    </div>
                    <div class="flex-media margin-top">
                        <a href="http://www.facebook.com" class="flex-content"><i class="fa-brands fa-square-facebook media-icon"></i><p>Facebook</p></a>
                    </div>
                    <div class="flex-media margin-top">
                        <a href="http://www.twitter.com" class="flex-content"><i class="fa-brands fa-square-twitter media-icon"></i><p>Twitter</p></a>
                    </div>
                    
                </div>
            </div>
        </footer>

        <!-- -------------------------- Form -------------------------- -->
        <div class="window-modal" id="window-modal-form" >
        
            <div class="modal modal-form">
                <button class="close-btn" id="close-btn">X</button>
                
                <form action="" method="post">
                
                    <h1>Entre em contato</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>

                    <div class="input-single">
                        <input type="text" name="name-box" id="name-box" class="input-area" required autocomplete="off">
                        <label for="name-box">Nome:</label>
                    </div>

                    <div class="input-single">
                        <input type="tel" name="name-tel" id="name-tel" class="input-area" required autocomplete="off">
                        <label for="name-tel">Telefone:</label>
                    </div>

                    <div class="input-single">
                        <input type="email" name="email-box" id="email-box" class="input-area" required autocomplete="off">
                        <label for="email-box">E-mail:</label>
                    </div>

                    <div class="input-single">
                        <input type="text" name="subject-box" id="subject-box" class="input-area" required autocomplete="off">
                        <label for="subject-box">Assunto:</label>
                    </div>

                    <div class="input-message">
                        <textarea wrap="hard" name="menssage-box" id="menssage-box" cols="30" rows="8" placeholder="Digite sua mensagem..."></textarea>
                        <label for="menssage-box">Mensagem</label>
                    </div>

                    <div class="btn">
                        <input type="submit" value="Enviar">
                    </div>

                </form>
            </div>
        </div>

        <div class="schedule-window-modal" id="schedule-window-modal">
            <div class="modal schedule" id="schedule">
                <button class="close-btn" id="close-btn-schedule">X</button>
                
                <h2>Agenda</h2>
                <p>
                    V&iacute;deos TODOS OS DIAS com as principais not&iacute;cias do Brasil e do Mundo
                </p>
                <p>
                    Lives todas as QUINTAS com os principais assuntos da semana
                </p>
                <p>
                    Um Podcast mensal todo dia 15.
                </p>
            </div>
        </div>

        <div class="whatsApp">
            <a href="https://wa.me//5521999060262?text=Oi%20Zé%20ninguém%20vamos%20conversar!!%20">
                <img class="whatsApp-img" src="../../assets/img/WhatsApp_icon.png" alt="">
            </a>
        </div>

        <script src="../../js/index.js"></script>
    </body>
</html>